/*
 * Position dialog styling
 *
 */

.ctrlroom-dialog fieldset.sectors-group > legend {
  cursor: pointer;
  cursor: hand;
}

// Override material angular wrong styles

.ctrlroom-dialog fieldset.sectors-group {
  color: #DDD;
}

.ctrlroom-dialog * {
  color: #DDD;
}